# 이항분포

In [1]:
import numpy as np
from scipy import stats
import scipy.stats
import pandas as pd
import statsmodels.api as sm

import matplotlib.pyplot as plt
import matplotlib
matplotlib.rc('axes',unicode_minus = False)



import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

In [3]:
n = 3

for i in range(n+1):
    prob = stats.binom.pmf(k=i, n=n, p = 0.4)
    print("P(X = %d) = %.3f" %(i, prob))

P(X = 0) = 0.216
P(X = 1) = 0.432
P(X = 2) = 0.288
P(X = 3) = 0.064

In [4]:
n = 5

for i in range(n+1):
    prob = stats.binom.pmf(k=i, n=n, p = 0.3)
    print("P(X = %d) = %.3f" %(i, prob))

P(X = 0) = 0.168
P(X = 1) = 0.360
P(X = 2) = 0.309
P(X = 3) = 0.132
P(X = 4) = 0.028
P(X = 5) = 0.002

# 포아송 분포

In [15]:
mu = 2

prob = stats.poisson.pmf(3,mu)

cdf_prob = stats.poisson.cdf(2,mu)

print("1분당 %d번의 전화가 걸려올 확률: %.1f%%" %(3, prob*100))
print("1분당 최대 %d회 이하의 전화가 걸려올 확률: %.1f%%" %(2,cdf_prob*100))
print("1분당 %d회 초과 전화가 걸려올 확률: %.1f%%" %(2,(1-cdf_prob)*100))

cdf_prob = stats.poisson.cdf(1,mu)
print("1분당 %d회 이상의 전화가 걸려올 확률: %.1f%%" %(2,(1-cdf_prob)*100))

1분당 3번의 전화가 걸려올 확률: 18.0%
1분당 최대 2회 이하의 전화가 걸려올 확률: 67.7%
1분당 2회 초과 전화가 걸려올 확률: 32.3%
1분당 2회 이상의 전화가 걸려올 확률: 59.4%

In [14]:
mu = 3

prob = stats.poisson.pmf(2,mu)

cdf_prob = stats.poisson.cdf(1,mu)

print("1시간에 %d명의 손님이 도착할 확률: %.1f%%" %(2, prob*100))
print("1시간에 %d명 이하의 손님이 도착할 확률: %.1f%%" %(1,cdf_prob*100))

cdf_prob = stats.poisson.cdf(2,mu)
print("1시간에 %d명 이상의 손님이 도착할 확률: %.1f%%" %(3,(1-cdf_prob)*100))

1시간에 2명의 손님이 도착할 확률: 22.4%
1시간에 1명 이하의 손님이 도착할 확률: 19.9%
1시간에 3명 이상의 손님이 도착할 확률: 57.7%

# 정규성 검정

In [16]:
from scipy.stats import shapiro

ds_camshaft = pd.read_csv("camshaft.csv", engine = 'python')
ds_camshaft.head()

   Length  Supp1  Supp2
0   601.4  598.0  601.6
1   601.6  599.8  600.4
2   598.0  600.0  598.4
3   601.4  599.8  600.0
4   599.4  600.0  596.8

In [17]:
data1 = ds_camshaft['Supp1']
shapiro(data1)
# 검정 통계량값 , p_value = 0.05보다 크기 때문에 정규성 만족 -> 모수 통계를 쓸 수 있음

(0.9788156747817993, 0.10744144767522812)

In [18]:
t_sample = pd.read_csv("2sample_t_test.csv", engine = 'python')
t_sample.head()

   Mat_A  Mat_B  Total  Sub
0   73.4   68.7   73.4    1
1   77.0   71.4   77.0    1
2   73.7   69.8   73.7    1
3   73.3   75.3   73.3    1
4   73.1   71.3   73.1    1

In [27]:
data = t_sample['Mat_A'].dropna()
shapiro(data)

(0.9062636494636536, 0.2562994360923767)

In [28]:
data = t_sample['Mat_B'].dropna()
shapiro(data)

(0.9729753732681274, 0.9169777035713196)

In [26]:
t_sample

    Mat_A  Mat_B  Total  Sub
0    73.4   68.7   73.4    1
1    77.0   71.4   77.0    1
2    73.7   69.8   73.7    1
3    73.3   75.3   73.3    1
4    73.1   71.3   73.1    1
5    71.5   72.7   71.5    1
6    74.5   66.9   74.5    1
7    77.5   70.2   77.5    1
8    76.4   74.4   76.4    1
9    77.7   70.1   77.7    1
10    NaN    NaN   68.7    2
11    NaN    NaN   71.4    2
12    NaN    NaN   69.8    2
13    NaN    NaN   75.3    2
14    NaN    NaN   71.3    2
15    NaN    NaN   72.7    2
16    NaN    NaN   66.9    2
17    NaN    NaN   70.2    2
18    NaN    NaN   74.4    2
19    NaN    NaN   70.1    2

# 모평균 신뢰구간

In [29]:
df = pd.DataFrame({"sample" : [3.6, 2.9, 2.8, 2.6, 3.4, 3.2, 2.2, 2.6, 2.6, 2.4, 
                               2.4, 2.6, 3.4, 2.4, 2.1, 2.6, 3.0, 2.4, 2.7, 2.4, 
                               2.6, 2.9, 2.9, 2.0, 2.7, 2.2, 2.8, 2.7, 1.8, 2.5, 
                               3.0, 3.2, 2.8, 2.6, 3.2, 3.1, 2.9, 2.7, 2.7, 2.2 ] })
df.head()

   sample
0     3.6
1     2.9
2     2.8
3     2.6
4     3.4

In [33]:
lower, upper = stats.norm.interval(0.95, loc = np.mean(df), scale = 0.397/np.sqrt(40))
print("신뢰구간: (%.2f,%.2f)"  %(lower, upper))

신뢰구간: (2.57,2.82)

In [34]:
df = pd.DataFrame({"sample" : [18, 18, 20, 21, 20, 23, 19, 18, 17, 21,
                              22, 20, 20, 21, 20, 19, 19, 18, 17, 19]})
lower, upper = stats.norm.interval(0.95, loc = np.mean(df), scale = 3.8/np.sqrt(20))
print("신뢰구간: (%.2f,%.2f)"  %(lower, upper))

신뢰구간: (17.83,21.17)

# t분포 신뢰구간

In [35]:
df = pd.DataFrame({"sample" : [54.1, 53.3, 56.1, 55.7, 54.0, 54.1, 54.5, 57.1, 55.2, 53.8,
                              54.1, 54.1, 56.1, 55.0, 55.9, 56.0, 54.9, 54.3, 53.9, 55.0]})

lower, upper = stats.t.interval(0.95, len(df)-1, loc = np.mean(df), scale = scipy.stats.sem(df))
print("신뢰구간: (%.2f,%.2f)"  %(lower, upper))

신뢰구간: (54.39,55.33)

In [36]:
scipy.stats.sem(df)

array([0.2254119])

In [38]:
1.0081/np.sqrt(20)

0.22541801281175378

In [39]:
df = pd.DataFrame({"sample" : [73, 71, 74, 69, 70, 73, 70, 68, 75, 72,
                              70, 72, 73, 70, 70, 72, 71, 70, 75, 72]})

lower, upper = stats.t.interval(0.95, len(df)-1, loc = np.mean(df), scale = scipy.stats.sem(df))
print("신뢰구간: (%.2f,%.2f)"  %(lower, upper))

신뢰구간: (70.60,72.40)

# 모분산 신뢰구간

In [75]:
df = pd.DataFrame({"sample" : [226, 228, 226, 225, 232, 228, 227, 229, 225, 230]})

alpha = 0.1
n = len(df)
s = np.var(df['sample'], ddof = 1)
df = n-1

upper = (n-1)*s / stats.chi2.ppf(alpha/2, df)
lower = (n-1)*s / stats.chi2.ppf(1-alpha/2, df)

print("신뢰구간: (%.2f,%.2f)"  %(lower, upper))

신뢰구간: (2.74,13.95)

In [73]:
stats.chi2.ppf(1-alpha/2, df).round(3)

16.919

In [66]:
df = pd.DataFrame({"sample" : [12, 9, 10, 5, 16,
                              13, 5, 9, 8, 13,
                              16, 12, 12, 4, 14,
                              9, 11, 14, 9, 17,
                              5, 8, 9, 6, 11,
                              19, 6, 6, 8, 9,
                               13, 10, 8, 13, 19,
                               8, 12, 14, 16, 16,
                               11, 17, 5, 9, 12,
                               17, 11, 8, 5, 8]})
alpha = 0.05
n = len(df)
s = np.var(df['sample'], ddof = 1)
df = n-1

upper = (n-1)*s / stats.chi2.ppf(alpha/2, df)
lower = (n-1)*s / stats.chi2.ppf(1-alpha/2, df)

print("신뢰구간: (%.2f,%.2f)"  %(lower, upper))

신뢰구간: (11.07,24.64)

# 모비율 신뢰구간

In [80]:
p = 96/1600
n=1600
z_alpha = stats.norm.ppf(0.95,0,1)
lower , upper =  p - z_alpha*np.sqrt(p*(1-p)/n), p + z_alpha*np.sqrt(p*(1-p)/n)

print("신뢰구간: (%.2f,%.2f)"  %(lower, upper))

신뢰구간: (0.05,0.07)

In [87]:
df = pd.DataFrame({"sample" : [12, 9, 10, 5, 16,
                              13, 5, 9, 8, 13,
                              16, 12, 12, 4, 14,
                              9, 11, 14, 9, 17,
                              5, 8, 9, 6, 11,
                              19, 6, 6, 8, 9,
                               13, 10, 8, 13, 19,
                               8, 12, 14, 16, 16,
                               11, 17, 5, 9, 12,
                               17, 11, 8, 5, 8]})
p = sum(df['sample']>15)/len(df)
n = 50
z_alpha = stats.norm.ppf(0.975,0,1)
lower, upper = p - z_alpha*np.sqrt(p*(1-p)/n), p + z_alpha*np.sqrt(p*(1-p)/n)

print("신뢰구간: (%.2f,%.2f)"  %(lower, upper))

신뢰구간: (0.07,0.29)

In [90]:
stats.t.ppf(0.025,9)

-2.262157162740992

# one sample t-test

In [93]:
df = pd.DataFrame({'sample': [74.5, 81.2, 73.8, 82.0, 76.3, 75.7, 80.2, 72.6, 77.9, 82.8]})

print(shapiro(df))

t_result = stats.ttest_1samp(df, 76.7)

t,p = t_result.statistic.round(3), t_result.pvalue.round(3)

print("1-Sample t-test")
print("t 통계량 : {}".format(t))
print("p value : {}".format(p))

(0.9331598281860352, 0.4796823561191559)
1-Sample t-test
t 통계량 : [0.864]
p value : [0.41]