전통통계  
모집단으로부터 샘플을 추출하여 다시 모집단을 추정하는 과정  

데이터 마이닝(기계학습)  
Train - Model - Test
정형, 관계형 데이터베이스 RDBMS
머신러닝 

빅데이터  
정형 데이터뿐만이 아니라 비정형 데이터(이미지, 자연어)까지 분석  
정형데이터는 표안에 값(성별, 나이)이 있다면, 비정형 데이터는 컴퓨터가 이해할 수 있도록 픽셀화로 만드는데 고차원적인 특징을 가지고 있지는 않음. 저차원(0,1)의 데이터를 다루기 시작  
머신러닝에서 신경망(딥러닝)을 이용  
테라바이트  (= 1000기가바이트가 1테라바이트)에서 헤타?바이트로 데이터양이 늘어남  


데이터분석  
1.DDA 묘사적 데이터분석(기초통계량 분포 파악- 문제정의/원인규명)  
2.EDA 탐색적 데이터분석(설명변수와 종속변수 간의 관계, 경향성을 확인, 시각화- 현상파악)  
3.CDA 확진적 데이터분석(X, Y의 관계를 통계학을 바탕으로 가설검정, 객관적인 증거 발견)  
4.PDA 예측, 분류 - 데이터마이닝  

보고서 형태로 단계별로 정리  
데이터가 실시간으로 변하면서 결과의 변화 과정을 웹을 통해 시각적으로 보여주는 것   
데이터수집, 수집된데이터를 정제하여 웹에 뿌려주기도함  

IT - 데이터 수집, 저장, 처리, 분석  
통계 - 인사이트를 추출

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('model_data.csv', encoding = 'cp949')

In [9]:
print(df.shape)
df.head()

(31, 10)

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,NaN,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,NaN,49.156,8.95,180,44,185

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
NAME        31 non-null object
GENDER      30 non-null object
AGE         31 non-null int64
AGEGROUP    31 non-null object
WEIGHT      29 non-null float64
OXY         31 non-null float64
RUNTIME     31 non-null float64
RUNPULSE    31 non-null int64
RSTPULSE    31 non-null int64
MAXPULSE    31 non-null int64
dtypes: float64(3), int64(4), object(3)
memory usage: 2.5+ KB

In [5]:
df.isnull().sum()

NAME        0
GENDER      1
AGE         0
AGEGROUP    0
WEIGHT      2
OXY         0
RUNTIME     0
RUNPULSE    0
RSTPULSE    0
MAXPULSE    0
dtype: int64

In [7]:
df2 = df.dropna()

In [8]:
print(df2.shape)
df2.head()

(28, 10)

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
5,Allen,남성,38,30대,89.02,49.874,9.22,178,55,180
6,Nancy,여성,49,40대,76.32,48.673,9.40,186,56,188

In [10]:
X = df2[['AGE','WEIGHT','RUNTIME','RUNPULSE','RSTPULSE','MAXPULSE']]
Y = df2[['OXY']]

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size =.3)

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(19, 6)
(9, 6)
(19, 1)
(9, 1)

In [13]:
model = Lasso()
result = model.fit(X_train, Y_train)

In [14]:
Y_pred = model.predict(X_test)

In [15]:
model.score(X_test, Y_test)

0.7770104298016434

In [17]:
print(mean_squared_error(Y_test,Y_pred))
print(mean_absolute_error(Y_test,Y_pred))

3.3436504321387326
1.4361776215214046