# 튜플

In [1]:
t1 = ()

In [2]:
t2 = (1,) #항목이 하나인 경우 주의

In [3]:
t3 = (1,2,3)

In [4]:
t4 = 1,2,3

In [5]:
t = (1,2,3,4,5,6)

In [6]:
t[0]

1

In [7]:
t[0] = 7

TypeError: 'tuple' object does not support item assignment

In [8]:
a = 1,2,3

In [9]:
one, two, three = a

In [10]:
one, two, three

(1, 2, 3)

# 집합

In [11]:
s1 = set([1,2,3])

In [12]:
s2 = {3,4,5}

In [13]:
s3 = set()

In [14]:
word = "Hello" *2

In [15]:
word

'HelloHello'

In [16]:
word_list = list(word)

In [17]:
word_list

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [18]:
s4 = set([1,2,3,4,3,5,3])

In [19]:
s4

{1, 2, 3, 4, 5}

In [20]:
s5 = set(word_list)

In [21]:
s5

{'H', 'e', 'l', 'o'}

In [22]:
s6 = set("Hello")

In [23]:
s6

{'H', 'e', 'l', 'o'}

In [24]:
t = tuple(s6)

In [25]:
t

('e', 'H', 'l', 'o')

In [26]:
s = {1,2,3,4,5,3,4}

In [27]:
s

{1, 2, 3, 4, 5}

In [29]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [30]:
s.remove(2)
s

{1, 3, 4, 5, 10}

In [31]:
s1 = {1,2,3}
s2 = {3,4,5}

In [32]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [33]:
s1.intersection(s2)

{3}

In [34]:
s1 - s2

{1, 2}

In [35]:
s1|s2

{1, 2, 3, 4, 5}

In [36]:
s1&s2

{3}

# 딕셔너리

In [40]:
d = {}

In [38]:
d = dict()

In [41]:
type(d)

dict

In [42]:
d['kim'] = 1

In [43]:
d['park'] = 2

In [44]:
d

{'kim': 1, 'park': 2}

In [45]:
d['park']

2

In [46]:
d['kim'] = 3

In [47]:
d

{'kim': 3, 'park': 2}

In [48]:
d['youn'] = 1

In [49]:
d

{'kim': 3, 'park': 2, 'youn': 1}

In [50]:
d.keys()

dict_keys(['kim', 'park', 'youn'])

In [51]:
d.values()

dict_values([3, 2, 1])

In [52]:
d.items() #키와 값의 항목을 튜플 형태로

dict_items([('kim', 3), ('park', 2), ('youn', 1)])

In [53]:
'kim' in d

True

In [54]:
'lee' in d

False

In [55]:
del d['kim'] #항목 1개 삭제

In [56]:
d

{'park': 2, 'youn': 1}

In [57]:
d.clear() # 전체 삭제

In [58]:
d

{}

In [61]:
d = {'youn':1, 'park':2, 'kim':10}

for i in d.values():
    print(i, end= ' ')

1 2 10

In [63]:
# Key 값이 우선
for i in d:
    print(d[i], end= ' ')

1 2 10

In [67]:
d.items() #튜플 형태로 나옴 / k,v 로 둘 수 있음

dict_items([('youn', 1), ('park', 2), ('kim', 10)])

In [66]:
for k,v in d.items():
    print(v, end = ' ')

1 2 10

# 딕셔너리 - 실습1

In [75]:
S = input("Enter a sentence:")
D = {}
for i in set(S) :
     D[i] = S.count(i)

Enter a sentence:python is fun!

In [76]:
print(D)

{'s': 1, 'u': 1, 't': 1, '!': 1, 'h': 1, 'o': 1, 'y': 1, 'f': 1, 'n': 2, 'i': 1, ' ': 2, 'p': 1}

# 파일

In [77]:
#'w'모드에서 파일이 없으면 새로운 텍스트파일 만들기
f = open('new.txt', 'w')

for i in range(1,6):
    data = "%d line\n" %i
    f.write(data)

f.close()

In [78]:
# 'a'모드 : 추가 모드 / 파일없으면 파일 생성

f = open('input.txt', 'a')

for i in range(1,5):
    data = "%d line\n" %i
    f.write(data)
    
f.close()

In [89]:
# 'r'모드 : 읽기
fr = open("new.txt", "r")

line = fr.readline()
print(line)
f.close()

1 line

In [91]:
fr = open("new.txt", "r")

lines = fr.readlines()
print(lines)

['1 line\n', '2 line\n', '3 line\n', '4 line\n', '5 line\n']

In [92]:
f = open("new.txt", "r")
data= f.read()
print(data)

1 line
2 line
3 line
4 line
5 line

In [94]:
f = open("new.txt", "r")
for line in f:
    print(line, end = '')

1 line
2 line
3 line
4 line
5 line

# 파일 - 실습1

In [107]:
f = open("test.txt", "r")
data=f.read()
d ={}
for i in set(data.split()):
    d[i] = data.split().count(i)

In [108]:
print(d)

{'second': 1, 'third': 1, 'first': 1, 'line': 3}

In [112]:
for i,k in d.items():
    print(i,k)

second 1
third 1
first 1
line 3

# 파일 - 실습2

In [114]:
import os
os.path.exists("test.txt")

True

In [116]:
f = input("Enter a file name:")
data = open(f, 'r')
print(data.read().upper())

Enter a file name:test.txt
FIRST LINE
SECOND LINE
THIRD LINE

# 함수

# len() 구현

In [120]:
def my_len(i):
    length = 0
    for j in i:
        length += 1
    return length

In [121]:
a = [5,5,6,7,8,3]
b = 'I am a boy.'
print(len(a), len(b))
print(my_len(a), my_len(b))

6 11
6 11

# 연습문제1

In [122]:
def add(a,b):
    result = a+b
    return result

def sub(a,b):
    result = a-b
    return result

def mul(a,b):
    result = a*b
    return result

def div(a,b):
    result = a/b
    return result

a = 1
b = 2

c = add(a,b)
d = sub(a,b)
e = mul(a,b)
f = div(a,b)

print(c,d,e,f)

3 -1 2 0.5

# 연습문제 2

In [146]:
def factorial(n):
    result = n
    while n>1:
        result *= (n-1)
        n = n-1
    return result

In [151]:
def factorial(n):
    result = n
    for i in range(1,n):
        result *= i
    return result

In [152]:
factorial(5)

120

# 연습문제 3

In [2]:
def pow(n, a):
    result = 1
    for i in range(a):
        result *= n
    return result

In [3]:
pow(5,3)

125