In [11]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [16]:
date= input("날짜(연/월/일)입력: ")

s = date.split('/')
print("입력한 날짜의 10년 후는 %s년 %s월 %s일" %(int(s[0])+10,s[1],s[2]))

날짜(연/월/일)입력: 2020/01/13
입력한 날짜의 10년 후는 2030년 01월 13일

In [17]:
num = int(input("Enter a number:"))
if num %2 == 0:
    print("%d is Even number" %num)
else:
    print("%d is Odd number" %num)

Enter a number:7
7 is Odd number

In [18]:
mid = int(input("Enter your midterm score: "))
final = int(input("Enter your final score: "))
Avg = (mid + final)/2
print("Average: %.1f" %Avg)

if Avg>=90:
    print("Grade: A")
elif Avg>=80 and Avg<90:
    print("Grade: B")
elif Avg>=70 and Avg<80:
    print("Grade: C")
elif Avg>=60 and Avg<70:
    print("Grade: D")
else:
    print("Grade: F")

Enter your midterm score: 77
Enter your final score: 56
Average: 66.5
Grade: D

In [24]:
eng = int(input("영어 점수 입력:"))
math  = int(input("수학 점수 입력:"))

if eng+math >= 110:
    if eng<40:
        print("불합격: 영어 점수 부족")
    elif math<40:
        print("불합격: 수학 점수 부족")
    else:
        print("합격")
else:
    print("불합격: 총합 점수 부족")

영어 점수 입력:70
수학 점수 입력:80
합격

In [43]:
D = input("세 개의 수를 입력하시오:")
T = D.split()

if T[0] > T[1] and T[0] > T[2] :
    print("가장 큰 수는 %s입니다." %T[0])
elif T[1] > T[0] and T[1] > T[2] :
    print("가장 큰 수는 %s입니다." %T[1])
else:
    print("가장 큰 수는 %s입니다." %T[2])

세 개의 수를 입력하시오:30 22 50
가장 큰 수는 50입니다.

In [39]:
word = 'Python'
n = 0
while n < len(word):
    print(s[n])
    n+=1

P
y
t
h
o
n

In [35]:
word = 'Python'
for i in word:
    print(i)

P
y
t
h
o
n

In [42]:
n = 10
while n>0 :
    print(n, end = ',')
    n-=1

print("Happy new year!!")

10,9,8,7,6,5,4,3,2,1,Happy new year!!

In [44]:
nums = input("Enter two integers: ")
s = nums.split()
print("The sum from %s to %s is %s" %(s[0],s[1], int(s[0])+ int(s[1])))

Enter two integers: 5 10
The sum from 5 to 10 is 15

In [45]:
word = 'banana'
s = 0
for i in word:
    if i == 'a':
        s+=1
print(s)

3

In [49]:
ls1 = list(range(10))
for i in ls1:
    print(i , end = ' ')
    
ls2 = list(range(0,51,5))
for i in ls2:
    print(i , end = ' ')
    
ls3 = list(range(10,0,-1))    
for i in ls3:
    print(i , end = ' ')

0 1 2 3 4 5 6 7 8 9 0 5 10 15 20 25 30 35 40 45 50 10 9 8 7 6 5 4 3 2 1

In [50]:
colors = ["red", "green", "blue"]

for i in colors:
    print(i)

red
green
blue

In [52]:
a = [1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

for i in a:
    if i%2==0:
        print(i, end = ' ')

4 6 8 10 12

In [53]:
gugu = int(input("출력하고 싶은 단을 입력하세요: "))

for i in range(1,10):
    print("%s * %s = %s" %(gugu, i, gugu*i))

출력하고 싶은 단을 입력하세요: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [58]:
for j in range(2,10):
    print("== %s단 ==" %j)
    for i in range(1,10):
        print("%s * %s = %s" %(j, i, j*i))

== 2단 ==
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
== 3단 ==
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
== 4단 ==
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
== 5단 ==
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
== 6단 ==
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
== 7단 ==
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
== 8단 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 9단 ==
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [64]:
for j in range(1,10):
    for i in range(2,10):
        print("%s * %s = %s" %(i, j, j*i), end =' ')
    print()

2 * 1 = 2 3 * 1 = 3 4 * 1 = 4 5 * 1 = 5 6 * 1 = 6 7 * 1 = 7 8 * 1 = 8 9 * 1 = 9
2 * 2 = 4 3 * 2 = 6 4 * 2 = 8 5 * 2 = 10 6 * 2 = 12 7 * 2 = 14 8 * 2 = 16 9 * 2 = 18
2 * 3 = 6 3 * 3 = 9 4 * 3 = 12 5 * 3 = 15 6 * 3 = 18 7 * 3 = 21 8 * 3 = 24 9 * 3 = 27
2 * 4 = 8 3 * 4 = 12 4 * 4 = 16 5 * 4 = 20 6 * 4 = 24 7 * 4 = 28 8 * 4 = 32 9 * 4 = 36
2 * 5 = 10 3 * 5 = 15 4 * 5 = 20 5 * 5 = 25 6 * 5 = 30 7 * 5 = 35 8 * 5 = 40 9 * 5 = 45
2 * 6 = 12 3 * 6 = 18 4 * 6 = 24 5 * 6 = 30 6 * 6 = 36 7 * 6 = 42 8 * 6 = 48 9 * 6 = 54
2 * 7 = 14 3 * 7 = 21 4 * 7 = 28 5 * 7 = 35 6 * 7 = 42 7 * 7 = 49 8 * 7 = 56 9 * 7 = 63
2 * 8 = 16 3 * 8 = 24 4 * 8 = 32 5 * 8 = 40 6 * 8 = 48 7 * 8 = 56 8 * 8 = 64 9 * 8 = 72
2 * 9 = 18 3 * 9 = 27 4 * 9 = 36 5 * 9 = 45 6 * 9 = 54 7 * 9 = 63 8 * 9 = 72 9 * 9 = 81

In [65]:
sentence = "sally goes to the store."
s = sentence.split()
for i in range(1,len(s)+1) :
    print("word %d %s" %(i, s[i-1]))

word 1 sally
word 2 goes
word 3 to
word 4 the
word 5 store.

In [67]:
integer = input("Input an integer: ")

for i in integer:
    print("★"*int(i))

Input an integer: 3159
★★★
★
★★★★★
★★★★★★★★★

In [82]:
num = ''
ls = []
while num != "done":
    num = input("Enter a number: ")
    if num != "done":
        ls.append(float(num))
print(ls)
print("Average: %.1f" %(sum(ls)/len(ls)))
print("Maximum: %.1f" %max(ls))
print("Minimum: %.1f" %min(ls))

Enter a number: 7
Enter a number: 2
Enter a number: 9
Enter a number: 3
Enter a number: 5
Enter a number: done
[7.0, 2.0, 9.0, 3.0, 5.0]
Average: 5.2
Maximum: 9.0
Minimum: 2.0

In [91]:
before = ['2020','01','13']
after = list(map(int,before))
type(after[0])

int

In [93]:
d = {'youn': 1, 'park': 2, 'kim': 10}
for i in d.values():
    print(i , end = ' ')

1 2 10

In [103]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5} 
for i in sorted(d):
    print(i, d[i])

five 5
four 4
one 1
three 3
two 2

In [105]:
d = {}
s = input("Enter a sentence: ")
for i in s:
    d[i] = s.count(i)
print(d)

Enter a sentence: Python is fun!
{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

In [109]:
test = open("test.txt", "r")
data = test.read()

d = {}
for i in set(data.split()):
    d[i] = data.split().count(i)

for i,j in d.items():
    print(i, j)

first 1
third 1
line 3
second 1

In [110]:
f = input("Enter a fil name: ")
data  = open(f, "r")
print(data.read().upper())

Enter a fil name: test.txt
FIRST LINE
SECOND LINE
THIRD LINE

In [111]:
colors = ['red','green','blue']
result = ''
for word in colors:
    result+=word

In [112]:
result

'redgreenblue'

In [115]:
result = ','.join(colors)

In [116]:
result

'red,green,blue'

In [117]:
ls = [i for i in range(1,6)]

In [118]:
ls

[1, 2, 3, 4, 5]

In [125]:
score = open("score.txt", "r")
data = score.readlines()
data

for i in data:
    ID = i.split()[0]
    mid = int(i.split()[1])
    final = int(i.split()[2])
    avg = mid*0.4+final*0.6
    grade =''
    if avg >=90:
        grade = "A"
    elif avg >=80 and avg <90:
        grade = "B"
    elif avg >=70 and avg <80:
        grade = "C"
    elif avg >=60 and avg <70:
        grade = "D"
    else:
        grade = "F"
    print("%s %s %s %s(%s)" %(ID, mid, final, avg, grade))

201901 89 78 82.4(B)
201902 76 84 80.8(B)
201903 67 42 52.0(F)
201904 66 88 79.2(C)
201905 98 99 98.6(A)

In [124]:
data

['201901 89 78\n',
 '201902 76 84\n',
 '201903 67 42\n',
 '201904 66 88\n',
 '201905 98 99']

In [126]:
colors = ['red', 'green', 'blue']
result = list(enumerate(colors))
result

[(0, 'red'), (1, 'green'), (2, 'blue')]

In [127]:
for idx, color in enumerate(colors):
    print(idx, color)

0 red
1 green
2 blue

In [128]:
[sum(x) for x in zip((1,2,3),(4,5,6))]

[5, 7, 9]

In [132]:
L1 = ['one', 'two', 'three', 'four']
L2 = [1, 2, 3, 4]

z = list(zip(L1,L2))
d = {}
for i, j in z:
    d[i] = j
print(d)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}