# 문자열

In [1]:
a = 'hello'

In [2]:
a

'hello'

In [5]:
''' 주석
a
b
c
'''
10

10

In [6]:
'Python'+'is'+'fun!'

'Pythonisfun!'

In [7]:
'Python'*3

'PythonPythonPython'

In [8]:
word = 'python'

In [9]:
word[0]

'p'

In [10]:
word[-1]

'n'

In [11]:
word[0:2]

'py'

In [12]:
word[:2]

'py'

In [13]:
word[3:]

'hon'

In [14]:
word = '12345'

In [15]:
word[:]

'12345'

In [18]:
#거꾸로
word[::-1]

'54321'

In [17]:
word[::2]

'135'

In [19]:
word[::-2]

'531'

In [20]:
word = 'Python'

In [21]:
'o' in word

True

In [22]:
len(word)

6

In [23]:
len('Python is fun!')

14

In [24]:
s = 'Python is fun!'

In [25]:
s.count('n')

2

In [26]:
s.index('n')

5

In [27]:
a =','
a.join(s)

'P,y,t,h,o,n, ,i,s, ,f,u,n,!'

In [28]:
word = 'Hello'

In [29]:
word[-1]

'o'

In [31]:
word[len(word)-1]

'o'

In [32]:
s1 = 'python is fun'

In [33]:
s1.split()

['python', 'is', 'fun']

In [34]:
s2 = 'one:two:three'

In [36]:
s2.split(':')

['one', 'two', 'three']

# 리스트

In [37]:
season=['sp','sum','fa','win']

In [38]:
season[1]

'sum'

In [39]:
a = [1,2,3]
b = [4,5,6]

In [40]:
a+b

[1, 2, 3, 4, 5, 6]

In [41]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [42]:
'apple' in season

False

In [44]:
'sp' in season

True

In [54]:
a = [1,2,3]

In [55]:
a[2] = 8

In [56]:
a

[1, 2, 8]

In [57]:
a[1:2] = ['a','b','c']

In [58]:
a

[1, 'a', 'b', 'c', 8]

In [59]:
a[1:4] = []

In [60]:
a

[1, 8]

In [61]:
del a[0]

In [62]:
a

[8]

In [63]:
t = [1,2,3]

In [64]:
a,b,c = t

In [65]:
print(a,b,c)

1 2 3

In [67]:
x, y = t #갯수 안맞으면 에러뜸

ValueError: too many values to unpack (expected 2)

# 실습문제 4

In [73]:
D = input("날짜(연/월/일)입력:")
d = D.split('/')
a,b,c = d
a = int(a)
print("입력한 날짜의 10년 후는",a+10 ,"년", b ,"월", c ,"일")

날짜(연/월/일)입력:2020/01/13
입력한 날짜의 10년 후는 2030 년 01 월 13 일

In [75]:
D = input("날짜(연/월/일)입력:")
d = D.split('/')
print('입력한 날짜의 10년 후는 %s년 %s월 %s일' %(int(d[0])+10, d[1], d[2]))

날짜(연/월/일)입력:2020/01/13
입력한 날짜의 10년 후는 2030년 01월 13일

In [76]:
ls = d

In [77]:
ls

['2020', '01', '13']

In [78]:
list(map(int, ls))

[2020, 1, 13]

# 조건문

In [81]:
a = 200

if a<100:
    print('참')
    print('100보다 작다')
else:
    print('거짓')
    print('100보다 크거나 같다')

print('프로그램 끝')

거짓
100보다 크거나 같다
프로그램 끝

In [82]:
num = int(input("정수를 입력하시오:"))

if num >0:
    print("양수입니다.")
elif num == 0:
    print("0입니다.")
else:
    print("음수입니다.")

정수를 입력하시오:-100
음수입니다.

# 조건문 - 실습1

In [83]:
E = int(input("영어 점수 입력:"))
M = int(input("수학 점수 입력:"))

if E+M >= 110 :
    if E < 40:
        print("불합격: 영어 점수 부족")
    elif M < 40:
        print("불합격: 수학 점수 부족")
    else :
        print("합격")
else:
    print("불합격: 총합 점수 부족")

영어 점수 입력:80
수학 점수 입력:20
불합격: 총합 점수 부족

# 조건문 - 실습2

In [88]:
D = input("세 개의 수를 입력하시오:")
T = D.split()

if T[0] > T[1] and T[0] > T[2] :
    print("가장 큰 수는 %s입니다." %T[0])
elif T[1] > T[0] and T[1] > T[2] :
    print("가장 큰 수는 %s입니다." %T[1])
else:
    print("가장 큰 수는 %s입니다." %T[2])

세 개의 수를 입력하시오:50 30 22
가장 큰 수는 50입니다.

# 반복문

In [101]:
number = 1
while number <= 5 :
    print(number, end = ' ')
    number += 1

1 2 3 4 5

# while문

In [112]:
number = 1
S = 1
while number < 10 :
    number += 1
    S += number
print(S)

55

In [97]:
list(range(2, 11,2))

[2, 4, 6, 8, 10]

In [98]:
for x in range(5):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [100]:
for x in range(5):
    print(x, end = ' ')

0 1 2 3 4

In [102]:
for x in 'python':
    print(x, end = ' ')

p y t h o n

In [108]:
for i in range(1,11):
    if i>5:
        break
    print(i, end = ' ')

1 2 3 4 5

In [111]:
for i in range(1,11):
    if i%2 == 0 :
        continue
    print(i, end = ' ')

1 3 5 7 9

# 반복문- 실습1

In [134]:
G = int(input("출력하고 싶은 단을 입력하세요:"))
for i in range(1,10) :
    print("%s * %s = %s" %(G,i,G*i))

출력하고 싶은 단을 입력하세요:7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

# 반복문 - 실습 2

In [135]:
num = input("input an integer:")
for x in num:
    print("★"*int(x))

input an integer:3159
★★★
★
★★★★★
★★★★★★★★★

In [136]:
num = input("input an integer:")
for x in num:
    for y in range(int(x)):
        print("★", end ='')
    print()

input an integer:3159
★★★
★
★★★★★
★★★★★★★★★

# 리스트2

In [113]:
colors = list()

In [114]:
colors

[]

In [115]:
colors.append("red")

In [116]:
colors.append("green")

In [118]:
colors.append("blue")

In [119]:
colors

['red', 'green', 'blue']

In [120]:
colors.append("red")

In [121]:
colors

['red', 'green', 'blue', 'red']

In [122]:
colors.remove("red") #첫번째 red 삭제

In [123]:
colors

['green', 'blue', 'red']

In [129]:
a = list(range(1,11))

In [130]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [131]:
max(a)

10

In [137]:
a = [1,7,9,2,5]
a.sort()
a

[1, 2, 5, 7, 9]

In [138]:
f = ['banana','apple','orange']
f.sort()
f

['apple', 'banana', 'orange']

In [141]:
f = ['banana','apple','orange']
f1 = f.sort()
print(f1)

None

In [143]:
f = ['banana','apple','orange']
f2 = sorted(f)
print(f2)

['apple', 'banana', 'orange']

# 리스트 - 실습1

In [149]:
S = []
number = ''
while number != "done" :
    number = input("Enter a number: ")
    if number != "done":
        S.append(float(number))
print(S)
print("Average: %.1f" %(sum(S)/len(S)))
print("Maximum: %.1f" %max(S))
print("Minimum: %.1f" %min(S))

Enter a number: 7
Enter a number: 2
Enter a number: 9
Enter a number: 3
Enter a number: 5
Enter a number: done
[7.0, 2.0, 9.0, 3.0, 5.0]
Average: 5.2
Maximum: 9.0
Minimum: 2.0