In [2]:
import sys

if len(sys.argv)==1 or sys.argv[1] == "students.txt":
    file = open("students.txt","r")
    
else:
    arg = sys.argv[1]
    file = open(arg, "r")

FileNotFoundError: [Errno 2] No such file or directory: '-f'

In [3]:
file = open("students.txt", "r")

In [4]:
stu_dict={}

for stu in file.readlines():
    info = stu[:-1].split('\t')
    ID = info[0]
    stu_dict[ID] = info[1:]
    stu_dict[ID][1] = int(stu_dict[ID][1])
    stu_dict[ID][2] = int(stu_dict[ID][2])
print(stu_dict)

{'20180001': ['Hong Gildong', 84, 73], '20180002': ['Lee Jieun', 92, 89], '20180007': ['Kim Cheolsu', 57, 62], '20180009': ['Lee Yeonghee', 81, 84], '20180011': ['Ha Donghun', 58, 68]}

In [5]:
def Grade_df(Avg):
    if Avg >=90 :
        Grade = "A"
    elif Avg >=80 and Avg <90 :
        Grade = "B"
    elif Avg >=70 and Avg <80 :
        Grade = "C"
    elif Avg >=60 and Avg <70 :
        Grade = "D"
    else:
        Grade = "F"
    return Grade

In [6]:
for ID,info  in stu_dict.items():
    Mid = info[1]
    Final = info[2]
    Avg = (Mid+Final)/2
    stu_dict[ID].append(Avg)
    Grade = Grade_df(Avg)
    stu_dict[ID].append(Grade)

In [7]:
stu_dict

{'20180001': ['Hong Gildong', 84, 73, 78.5, 'C'],
 '20180002': ['Lee Jieun', 92, 89, 90.5, 'A'],
 '20180007': ['Kim Cheolsu', 57, 62, 59.5, 'F'],
 '20180009': ['Lee Yeonghee', 81, 84, 82.5, 'B'],
 '20180011': ['Ha Donghun', 58, 68, 63.0, 'D']}

In [8]:
def sort(stu_dict):
    sort_st = sorted(stu_dict.items(), key = lambda a : a [1][3], reverse = True)
    return sort_st
sort_st = sort(stu_dict)
print(sort_st)

[('20180002', ['Lee Jieun', 92, 89, 90.5, 'A']), ('20180009', ['Lee Yeonghee', 81, 84, 82.5, 'B']), ('20180001', ['Hong Gildong', 84, 73, 78.5, 'C']), ('20180011', ['Ha Donghun', 58, 68, 63.0, 'D']), ('20180007', ['Kim Cheolsu', 57, 62, 59.5, 'F'])]

In [9]:
print("Student \t Name \t  Midterm \tFinal \t Average \tGrade")
print("-"*70)
for stu in sort_st:
    ID = stu[0]
    Name = stu[1][0]
    Mid = stu[1][1]
    Final = stu[1][2]
    Avg = stu[1][3]
    Grade = stu[1][4] 
    
    print("%s\t%s\t%s\t%s\t%.1f \t%s" %(ID, Name, Mid, Final, Avg, Grade))

Student 	 Name 	  Midterm 	Final 	 Average 	Grade
----------------------------------------------------------------------
20180002	Lee Jieun	92	89	90.5 	A
20180009	Lee Yeonghee	81	84	82.5 	B
20180001	Hong Gildong	84	73	78.5 	C
20180011	Ha Donghun	58	68	63.0 	D
20180007	Kim Cheolsu	57	62	59.5 	F

In [10]:
do_list = ['show', 'search', 'changescore', 'searchgrade', 'add', 'remove', 'quit']
do = ''
while do not in do_list :
    do = input("#")

#show

# 1. show

In [19]:
do = 'show'
if do.upper() == 'SHOW':
    print("Student \t Name \t  Midterm \tFinal \t Average \tGrade")
    print("-"*70)
    sort_st = sort(stu_dict)
    for stu in sort_st:
        ID = stu[0]
        Name = stu[1][0]
        Mid = stu[1][1]
        Final = stu[1][2]
        Avg = stu[1][3]
        Grade = stu[1][4] 
    
        print("%s\t%s\t%s\t%s\t%.1f \t%s" %(ID, Name, Mid, Final, Avg, Grade))

Student 	 Name 	  Midterm 	Final 	 Average 	Grade
----------------------------------------------------------------------
20180021	Lee Hyori	93	95	94.0 	A
20180002	Lee Jieun	92	89	90.5 	A
20180009	Lee Yeonghee	81	84	82.5 	B
20180001	Hong Gildong	84	73	78.5 	C
20180011	Ha Donghun	58	68	63.0 	D

# 2. search

In [12]:
do = 'search'
if do.upper() == 'SEARCH':
    ID = input("Student ID: ")
    if ID not in stu_dict:
        print("NO SUCH PERSON.")
    else:
        print("Student \t Name \t  Midterm \tFinal \t Average \tGrade")
        print("-"*70)
        Name = stu_dict[ID][0]
        Mid = stu_dict[ID][1]
        Final = stu_dict[ID][2]
        Avg = stu_dict[ID][3]
        Grade = stu_dict[ID][4] 
        print("%s\t%s\t%s\t%s\t%.1f \t%s" %(ID, Name, Mid, Final, Avg, Grade))
        
    print('\n')
    do=''
    while do not in do_list :
        do = input("#")

Student ID: 20180007
Student 	 Name 	  Midterm 	Final 	 Average 	Grade
----------------------------------------------------------------------
20180007	Kim Cheolsu	57	62	59.5 	F


#show

# 3. changescore

In [13]:
def update(ID, score, mid = 1):
    if score in range(101):
        print("Student \t Name \t  Midterm \tFinal \t Average \tGrade")
        print("-"*70)
        ID = str(ID)
        Name = stu_dict[ID][0]
        Mid = stu_dict[ID][1]
        Final = stu_dict[ID][2]
        Avg = stu_dict[ID][3]
        Grade = stu_dict[ID][4] 
        print("%s\t%s\t%s\t%s\t%.1f \t%s" %(ID, Name, Mid, Final, Avg, Grade))

        print("Score changed.")
        stu_dict[ID][mid] = score
        Mid = stu_dict[ID][1]
        Final = stu_dict[ID][2]
        stu_dict[ID][3] = Avg = (Mid+Final)/2
        stu_dict[ID][4] = Grade = Grade_df(Avg)                 
        print("%s\t%s\t%s\t%s\t%.1f \t%s" %(ID, Name, Mid, Final, Avg, Grade))
        sort_st = sort(stu_dict)

In [14]:
do = 'changescore'
if do.upper() == "CHANGESCORE":
    ID = input("Student ID: ")
    if ID not in stu_dict:
        print("NO SUCH PERSON.")
    else:
        Q = input("Mid/Final? ")
        A_ls = ['MID','FINAL']
        if Q.upper() not in A_ls:
            pass
        elif Q.upper() == "MID":
                mid_update = input("Input new score: ")
                update(ID, int(mid_update))
                
        else:
            final_update = input("Input new score: ")
            update(ID, int(final_update), 2)

Student ID: 20180007
Mid/Final? final
Input new score: 75
Student 	 Name 	  Midterm 	Final 	 Average 	Grade
----------------------------------------------------------------------
20180007	Kim Cheolsu	57	62	59.5 	F
Score changed.
20180007	Kim Cheolsu	57	75	66.0 	D

In [13]:
update(20180007,75)

Student 	 Name 	  Midterm 	Final 	 Average 	Grade
----------------------------------------------------------------------
20180007	Kim Cheolsu	57	62	59.5 	F
Score changed.
20180007	Kim Cheolsu	75	62	68.5 	D

In [15]:
stu_dict

{'20180001': ['Hong Gildong', 84, 73, 78.5, 'C'],
 '20180002': ['Lee Jieun', 92, 89, 90.5, 'A'],
 '20180007': ['Kim Cheolsu', 57, 75, 66.0, 'D'],
 '20180009': ['Lee Yeonghee', 81, 84, 82.5, 'B'],
 '20180011': ['Ha Donghun', 58, 68, 63.0, 'D']}

# 4. add

In [16]:
do = 'add'
if do.upper() == "ADD":
    ID = input("Student ID: ")
    if ID in stu_dict:
        print("ALREADY EXISTS.")
    else:
        Name = input("Name: ")
        Mid = int(input("Midterm Score: "))
        Final = int(input("Final Score: "))
        Avg = (Mid + Final)/2
        Grade = Grade_df(Avg)
        st_info = list([Name, Mid, Final, Avg, Grade])
        stu_dict[ID] = st_info
        print("Student added.")

Student ID: 20180021
Name: Lee Hyori
Midterm Score: 93
Final Score: 95
Student added.

# 5. searchgrade

In [17]:
do = 'searchgrade'
if do.upper() == "SEARCHGRADE":
    Grade = input("Grade to search: ")
    stu_Grade_ls = []
    for i in stu_dict.values():
        stu_Grade_ls.append(i[4])


    if Grade not in list(['A','B','C','D','F']):
        pass
    else:
        if Grade not in stu_Grade_ls:
            print("NO RESULTS.")
        else:
            print("Student \t Name \t  Midterm \tFinal \t Average \tGrade")
            print("-"*70)
            for ID, info in stu_dict.items():
                for g in info[4]:
                    if g == Grade:
                        Name = stu_dict[ID][0]
                        Mid = stu_dict[ID][1]
                        Final = stu_dict[ID][2]
                        Avg = stu_dict[ID][3]
                        print("%s\t%s\t%s\t%s\t%.1f \t%s" %(ID, Name, Mid, Final, Avg, Grade))

Grade to search: D
Student 	 Name 	  Midterm 	Final 	 Average 	Grade
----------------------------------------------------------------------
20180007	Kim Cheolsu	57	75	66.0 	D
20180011	Ha Donghun	58	68	63.0 	D

# 6. remove

In [18]:
do = 'remove'
if do.upper() == "REMOVE":
    if stu_dict == {}:
        print("List is empty")
    else:
        ID = input("Student ID: ")
        if ID not in stu_dict:
            print("NO SUCH PERSON.")
        else:
            del stu_dict[ID]
            print("Student removed")

Student ID: 20180007
Student removed

# 7. quit

In [21]:
do = 'quit'
if do.upper() == "QUIT":
    Q = input("Save data?[yes/no]")
    if Q.upper() == "YES":
        f_name = input("File name: ")
        f = open(f_name, 'w')
        sort_st = sort(stu_dict)
        for stu in sort_st:
            ID = stu[0]
            Name = stu[1][0]
            Mid = stu[1][1]
            Final = stu[1][2]
            data = "%s\t%s\t%s\t%s\n" %(ID, Name, Mid, Final)
            f.write(data)
        f.close()

        print("$")

Save data?[yes/no]yes
File name: newStudents.txt
$

In [22]:
print(sort_st)

[('20180021', ['Lee Hyori', 93, 95, 94.0, 'A']), ('20180002', ['Lee Jieun', 92, 89, 90.5, 'A']), ('20180009', ['Lee Yeonghee', 81, 84, 82.5, 'B']), ('20180001', ['Hong Gildong', 84, 73, 78.5, 'C']), ('20180011', ['Ha Donghun', 58, 68, 63.0, 'D'])]